body {
    font-family: 'Oswald', 'Montserrat', 'Lato' serif;
    background-image: url("https://static.pexels.com/photos/5317/food-salad-restaurant-person-large.jpg");
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav {
    word-spacing: 20px;
    background: #f3f1ec;
    height: 130px;
    max-width: 100%;
    /* border-bottom: 2px solid black; */

}

.nav img {
    float: left;
    margin: 5px 0 5px 100px;
}

.nav ul {
    float: left;
    margin: 45px 0 0 30px;
}
.nav li {
    list-style-type: none;
    display: inline-block;
   
}

a {
    text-decoration: none;
    font-size: 1.6em;
    border-right: 1px solid black;
    padding-right: 20px;
}

.nav >ul >li {
    list-style-type: none;
    display: inline-block;
}


a {
    text-decoration: none;
    color: inherit;
}

.nav {
    font-family: 'Oswald', 'Montserrat', 'Lato' serif;
    word-spacing: 20px;
    background: #f3f1ec ;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: -10px -10px 0 -10px;
}

.box {
    max-width: 50%;
    background-color: #f3f1ec;
    opacity: 0.8;
    margin: 80px 0 0 80px;
    padding: 20px;
    border: solid;
    float: left;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.start {
    font-size: 2.4em;
}

.loc {
    margin: 10px 0 0 270px;
}

.start {
    font-size: 2.4em;
}

.loc {
    margin: 10px 0 0 270px;
}

.where {
    font-size: 1.4em;
    font-weight: 600;
}

.both {
    height: 500px;
    float: left;
}

.circles {
    width: 275px;
    height: 275px;
    background-color: #f3f1ec;
    border: 3px solid black;
    border-radius: 100%;
    opacity: 0.8;
    margin: 5px 0 0 80px;
    font-size: 1.1em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* .circles {
    width: 300px;
    height: 300px;
    background-color: #f3f1ec;
    border: 3px solid black;
    border-radius: 100%;
    opacity: 0.8;
} */

.circles p {
    padding: 60px 10px 0 15px;
    text-align: center;
}

.circles h3 {
    text-align: center;
}






