body {
	font-family: 'Josefin Sans', 'Lora', 'Poiret One', 'Lobster', serif;
	 background-image: url("https://static.pexels.com/photos/5317/food-salad-restaurant-person-large.jpg (185KB)

");
    no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}



 .box {

 }