
/*////////////////BODY//////////////*/

body {
	background-image: url("https://static.pexels.com/photos/5317/food-salad-restaurant-person-large.jpg");
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1{
	font-size: 28px;
}

/*////////////////NAVIGATION//////////////*/


.nav >ul >li {
    list-style-type: none;
    display: inline-block;
}


a {
    text-decoration: none;
    color: inherit;
    font-family: 'Oswald', 'Montserrat', 'Lato', serif;
}

.nav {
    word-spacing: 20px;
    background: #f3f1ec ;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: -10px -10px 0 -10px;
    word-spacing: 20px;
}



/*////////////////ARTICLE//////////////*/

.first-article {

	height: 300px;
	width: 600px;
	float: left;
	background-color: #f3f1ec;
	margin: 30px 0 20px 40px;

	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  opacity: 0.8;
  border: solid;

  font-family: 'Oswald', 'Montserrat', 'Lato' serif;
  
  padding: 30px;

}


.both {
  float: left;

}

.hours {
  height: 200px;
  width: 250px;

  background-color: #f3f1ec;
  margin: 30px 0 20px 40px;
  padding: 30px;
  border: solid;
  font-family: 'Oswald', 'Montserrat', 'Lato' serif;
 
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  opacity: 0.8;
 

}

.location {

  width: 250px;
  background-color: #f3f1ec;
  margin: 30px 0 20px 40px;
  padding: 30px;
  border: solid;
  font-family: 'Oswald', 'Montserrat', 'Lato' serif;
 

 
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  opacity: 0.8;
  
}











